In [15]:
import pickle as pkl
import numpy as np
import pandas as pd

In [16]:
# import fingerhut_combined_grouped.pkl
with open('../Dataset/fingerhut_combined_grouped.pkl', 'rb') as f:
    fingerhut_combined_grouped = pkl.load(f)

In [17]:
event_def = pd.read_csv('../Dataset/Event_Definitions.csv')

In [18]:
fingerhut_combined_grouped

,combined_id,ed_id,stage,application,activation,place_order_web,place_order_phone,order_shipped
0,0,"[2, 12, 1, 4, 4, 4, 11, 1, 5, 6, 1, 1, 4, 11, ...","[Discover, Apply for Credit, Promotion Created...",1,1,1,0,1
1,1,"[2, 4, 11, 4, 4, 11, 4, 4, 4, 11, 4, 4, 5, 4, ...","[Discover, First Purchase, First Purchase, Fir...",1,1,1,0,1
2,2,"[19, 19, 19, 19, 19, 19, 19, 19, 3, 19, 12, 4,...","[Apply for Credit, Apply for Credit, Apply for...",1,0,0,0,0
3,3,"[12, 2, 22]","[Apply for Credit, Discover, Discover]",1,0,0,0,0
4,4,"[12, 4, 4, 19, 5, 4, 11, 1, 5, 6, 29, 4, 11, 5...","[Apply for Credit, First Purchase, First Purch...",1,1,1,0,1
...,...,...,...,...,...,...,...,...
1665426,1665426,"[12, 4, 4, 4, 4, 4, 4, 11, 4, 11, 4, 4, 4, 4, ...","[Apply for Credit, First Purchase, First Purch...",1,0,0,0,0
1665427,1665427,"[3, 3, 3, 3, 3, 12, 4, 4, 4, 4, 4, 4, 1, 1, 4,...","[Apply for Credit, Apply for Credit, Apply for...",1,0,0,0,0
1665428,1665428,"[5, 5, 19, 19, 19, 19, 19, 19, 19, 19, 3, 12, ...","[First Purchase, First Purchase, Apply for Cre...",1,1,1,0,1
1665429,1665429,"[2, 12, 4, 4, 4, 4, 4, 11, 5, 6, 5, 4, 4, 4, 1...","[Discover, Apply for Credit, First Purchase, F...",1,0,0,0,0
1665430,1665430,"[2, 19, 19, 3, 19, 3, 19, 19, 19, 3, 19, 19, 3...","[Discover, Apply for Credit, Apply for Credit,...",1,0,0,0,0

In [19]:
event_def

,event_name,journey_id,event_definition_id,milestone_number,stage
0,application_phone_approved,1,15,1.0,Apply for Credit
1,application_phone_declined,1,16,NaN,Apply for Credit
2,application_phone_pending,1,17,NaN,Apply for Credit
3,application_web_approved,1,12,1.0,Apply for Credit
4,application_web_declined,1,13,NaN,Apply for Credit
5,application_web_pending,1,14,NaN,Apply for Credit
6,application_web_submit,1,3,NaN,Apply for Credit
7,application_web_view,1,19,NaN,Apply for Credit
8,account_activitation,1,29,3.0,Credit Account
9,account_fraud_review,1,37,NaN,Credit Account
10,campaign_click,1,2,NaN,Discover
11,customer_requested_catalog_digital,1,9,NaN,Discover
12,fingerhut_university,1,10,NaN,Discover
13,pre_application_3rd_party_affiliates,1,22,NaN,Discover
14,site_registration,1,23,NaN,Discover
15,account_downpaymentcleared,1,27,5.0,Downpayment
16,account_downpaymentreceived,1,26,NaN,Downpayment
17,place_downpayment,1,8,4.0,Downpayment
18,place_downpayment_phone,1,25,4.0,Downpayment
19,add_to_cart,1,11,NaN,First Purchase
20,begin_checkout,1,6,NaN,First Purchase
21,browse_products,1,4,NaN,First Purchase
22,place_order_phone,1,18,2.0,First Purchase
23,place_order_web,1,7,2.0,First Purchase
24,view_cart,1,5,NaN,First Purchase
25,order_shipped,1,28,6.0,Order Shipped
26,catalog_email_experian,1,20,NaN,Prospecting
27,catalog_mail,1,21,NaN,Prospecting