In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in fingerhut_combined_grouped.pkl

fingerhut_combined_grouped = pd.read_pickle('../Dataset/fingerhut_combined_grouped.pkl')

In [3]:
fingerhut_combined_grouped

,combined_id,ed_id,stage,event_timestamp,application,activation,promotion_exposure,place_order_web,place_order_phone,order_shipped
0,0,"[2, 12, 1, 4, 4, 4, 11, 1, 5, 6, 1, 1, 4, 11, ...","[Discover, Apply for Credit, Promotion Created...","[2021-09-03T06:00:00.000Z, 2021-09-03T21:46:20...",1,1,1,1,0,1
1,1,"[2, 4, 11, 4, 4, 11, 4, 4, 4, 11, 4, 4, 5, 4, ...","[Discover, First Purchase, First Purchase, Fir...","[2021-02-20T06:00:00.000Z, 2021-02-20T22:23:39...",1,1,1,1,0,1
2,2,"[19, 19, 19, 19, 19, 19, 19, 19, 3, 19, 12, 4,...","[Apply for Credit, Apply for Credit, Apply for...","[2022-12-11T07:43:02.000Z, 2022-12-11T07:43:04...",1,0,1,0,0,0
3,3,"[12, 2, 22]","[Apply for Credit, Discover, Discover]","[2023-07-02T13:43:31.000Z, 2023-07-02T19:43:31...",1,0,1,0,0,0
4,4,"[12, 4, 4, 19, 5, 4, 11, 1, 5, 6, 29, 4, 11, 5...","[Apply for Credit, First Purchase, First Purch...","[2021-11-20T14:49:13.000Z, 2021-11-20T14:52:13...",1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...
1665426,1665426,"[12, 4, 4, 4, 4, 4, 4, 11, 4, 11, 4, 4, 4, 4, ...","[Apply for Credit, First Purchase, First Purch...","[2021-03-24T11:00:21.000Z, 2021-03-24T11:07:37...",1,0,1,0,0,0
1665427,1665427,"[3, 3, 3, 3, 3, 12, 4, 4, 4, 4, 4, 4, 1, 1, 4,...","[Apply for Credit, Apply for Credit, Apply for...","[2021-08-02T16:17:10.000Z, 2021-08-02T16:18:38...",1,0,1,0,0,0
1665428,1665428,"[5, 5, 19, 19, 19, 19, 19, 19, 19, 19, 3, 12, ...","[First Purchase, First Purchase, Apply for Cre...","[2022-05-22T19:14:41.000Z, 2022-05-22T19:29:11...",1,1,1,1,0,1
1665429,1665429,"[2, 12, 4, 4, 4, 4, 4, 11, 5, 6, 5, 4, 4, 4, 1...","[Discover, Apply for Credit, First Purchase, F...","[2021-03-21T06:00:00.000Z, 2021-03-21T17:25:43...",1,0,1,0,0,0
1665430,1665430,"[2, 19, 19, 3, 19, 3, 19, 19, 19, 3, 19, 19, 3...","[Discover, Apply for Credit, Apply for Credit,...","[2021-07-05T06:00:00.000Z, 2021-07-05T08:56:27...",1,0,1,0,0,0

In [12]:
# if either the place_order_web or place_order_phone is 1, then make new column place_order = 1, else 0

fingerhut_combined_grouped['place_order'] = np.where((fingerhut_combined_grouped['place_order_web'] == 1) | (fingerhut_combined_grouped['place_order_phone'] == 1), 1, 0)

In [13]:
# randomly sample 100000 rows from fingerhut_combined_grouped

fingerhut_combined_grouped_sample = fingerhut_combined_grouped.sample(n=100000, random_state=0)

In [14]:
fingerhut_combined_grouped_sample

,combined_id,ed_id,stage,event_timestamp,application,activation,promotion_exposure,place_order_web,place_order_phone,order_shipped,place_order
863559,863559,"[21, 15, 29, 18, 27, 1, 21, 28]","[Prospecting, Apply for Credit, Credit Account...","[2021-07-12T00:00:00.000Z, 2021-07-22T17:32:42...",1,1,1,0,1,1,1
521199,521199,"[2, 19, 19, 3, 19, 3, 19, 19, 3, 19, 12, 4, 4,...","[Discover, Apply for Credit, Apply for Credit,...","[2021-07-26T06:00:00.000Z, 2021-07-26T09:15:23...",1,0,1,0,0,0,0
161190,161190,"[2, 12, 4, 1, 21, 1, 1, 1]","[Discover, Apply for Credit, First Purchase, P...","[2021-04-27T06:00:00.000Z, 2021-04-27T21:23:50...",1,0,1,0,0,0,0
1299225,1299225,"[12, 2, 19, 19, 1, 1, 1, 1, 21, 1, 1]","[Apply for Credit, Discover, Apply for Credit,...","[2021-03-05T03:45:11.000Z, 2021-03-05T06:00:00...",1,0,1,0,0,0,0
1432719,1432719,"[2, 12, 4, 4, 1, 11, 6, 5, 4, 4, 5, 11, 5, 4, ...","[Discover, Apply for Credit, First Purchase, F...","[2023-04-27T05:08:16.000Z, 2023-04-27T23:08:16...",1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1578382,1578382,"[12, 2, 4, 4, 1, 1, 1, 4, 21, 1, 1, 1, 21, 1, ...","[Apply for Credit, Discover, First Purchase, F...","[2021-04-02T05:56:20.000Z, 2021-04-02T06:00:00...",1,0,1,0,0,0,0
456163,456163,"[12, 1, 1, 11, 6, 5, 4, 4, 5, 11, 2, 4, 4, 4, ...","[Apply for Credit, Promotion Created, Promotio...","[2023-07-07T00:07:39.000Z, 2023-07-07T00:55:53...",1,0,1,0,0,0,0
1536122,1536122,"[2, 12, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,...","[Discover, Apply for Credit, First Purchase, F...","[2022-09-21T04:27:46.000Z, 2022-09-21T22:27:46...",1,1,1,1,0,1,1
517585,517585,[15],[Apply for Credit],[2021-12-01T19:33:32.000Z],1,0,0,0,0,0,0
1385512,1385512,"[2, 12, 4, 4, 24]","[Discover, Apply for Credit, First Purchase, F...","[2023-06-15T01:45:43.000Z, 2023-06-15T19:45:43...",1,0,1,0,0,0,0

In [15]:
# check how many rows have place_order = 1

fingerhut_combined_grouped_sample['place_order'].value_counts()

0    77439
1    22561
Name: place_order, dtype: int64

In [28]:
# check how many rows have place_order = 1 and activation = 1

ordered_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['place_order'] == 1) & (fingerhut_combined_grouped_sample['activation'] == 1)]
print(len(ordered_activated))

21049

In [29]:
# check how many rows have place_order = 0 and activation = 0

no_ordered_no_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['place_order'] == 0) & (fingerhut_combined_grouped_sample['activation'] == 0)]
print(len(no_ordered_no_activated))

74022

In [30]:
# check how many rows have place_order = 1 and activation = 0

ordered_no_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['place_order'] == 1) & (fingerhut_combined_grouped_sample['activation'] == 0)]
print(len(ordered_no_activated))

1512

In [31]:
# check how many rows have place_order = 0 and activation = 1

no_ordered_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['place_order'] == 0) & (fingerhut_combined_grouped_sample['activation'] == 1)]
print(len(no_ordered_activated))

3417

In [27]:
# sum of all the above 4 categories should be 100000

len(ordered_activated) + len(no_ordered_no_activated) + len(ordered_no_activated) + len(no_ordered_activated)

100000

In [37]:
# check how many rows have promotion_exposure = 1

fingerhut_combined_grouped_sample['promotion_exposure'].value_counts()[1]

91469

In [32]:
# check how many rows have promotion_expousre = 1 and activation = 1

promotion_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['promotion_exposure'] == 1) & (fingerhut_combined_grouped_sample['activation'] == 1)]
print(len(promotion_activated))

22177

In [38]:
# check how many rows have promotion_expousre = 1 and activation = 0

promotion_no_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['promotion_exposure'] == 1) & (fingerhut_combined_grouped_sample['activation'] == 0)]
print(len(promotion_no_activated))

69292

In [6]:
promotion_ids = [2, 9, 20, 21, 1, 24]

In [39]:
# for each row, if the list object in the ed_id column contains any of the above 6 ids, then make a new column `promotion_type` that contains the list of ids that were found in the ed_id column

fingerhut_combined_grouped_sample['promotion_type'] = fingerhut_combined_grouped_sample['ed_id'].apply(lambda x: list(set(x).intersection(promotion_ids)))

In [41]:
# using the promotion_type column, create new columns for each of the 6 ids and set the value to 1 if the id is present in the promotion_type list, else 0

for i in promotion_ids:
    fingerhut_combined_grouped_sample[i] = fingerhut_combined_grouped_sample['promotion_type'].apply(lambda x: 1 if i in x else 0)

fingerhut_combined_grouped_sample

,combined_id,ed_id,stage,event_timestamp,application,activation,promotion_exposure,place_order_web,place_order_phone,order_shipped,place_order,promotion_type,2,9,20,21,1,24
863559,863559,"[21, 15, 29, 18, 27, 1, 21, 28]","[Prospecting, Apply for Credit, Credit Account...","[2021-07-12T00:00:00.000Z, 2021-07-22T17:32:42...",1,1,1,0,1,1,1,"[1, 21]",0,0,0,1,1,0
521199,521199,"[2, 19, 19, 3, 19, 3, 19, 19, 3, 19, 12, 4, 4,...","[Discover, Apply for Credit, Apply for Credit,...","[2021-07-26T06:00:00.000Z, 2021-07-26T09:15:23...",1,0,1,0,0,0,0,"[24, 1, 2, 21]",1,0,0,1,1,1
161190,161190,"[2, 12, 4, 1, 21, 1, 1, 1]","[Discover, Apply for Credit, First Purchase, P...","[2021-04-27T06:00:00.000Z, 2021-04-27T21:23:50...",1,0,1,0,0,0,0,"[1, 2, 21]",1,0,0,1,1,0
1299225,1299225,"[12, 2, 19, 19, 1, 1, 1, 1, 21, 1, 1]","[Apply for Credit, Discover, Apply for Credit,...","[2021-03-05T03:45:11.000Z, 2021-03-05T06:00:00...",1,0,1,0,0,0,0,"[1, 2, 21]",1,0,0,1,1,0
1432719,1432719,"[2, 12, 4, 4, 1, 11, 6, 5, 4, 4, 5, 11, 5, 4, ...","[Discover, Apply for Credit, First Purchase, F...","[2023-04-27T05:08:16.000Z, 2023-04-27T23:08:16...",1,1,1,0,0,0,0,"[1, 2]",1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578382,1578382,"[12, 2, 4, 4, 1, 1, 1, 4, 21, 1, 1, 1, 21, 1, ...","[Apply for Credit, Discover, First Purchase, F...","[2021-04-02T05:56:20.000Z, 2021-04-02T06:00:00...",1,0,1,0,0,0,0,"[1, 2, 21]",1,0,0,1,1,0
456163,456163,"[12, 1, 1, 11, 6, 5, 4, 4, 5, 11, 2, 4, 4, 4, ...","[Apply for Credit, Promotion Created, Promotio...","[2023-07-07T00:07:39.000Z, 2023-07-07T00:55:53...",1,0,1,0,0,0,0,"[1, 2]",1,0,0,0,1,0
1536122,1536122,"[2, 12, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,...","[Discover, Apply for Credit, First Purchase, F...","[2022-09-21T04:27:46.000Z, 2022-09-21T22:27:46...",1,1,1,1,0,1,1,"[1, 2]",1,0,0,0,1,0
517585,517585,[15],[Apply for Credit],[2021-12-01T19:33:32.000Z],1,0,0,0,0,0,0,[],0,0,0,0,0,0
1385512,1385512,"[2, 12, 4, 4, 24]","[Discover, Apply for Credit, First Purchase, F...","[2023-06-15T01:45:43.000Z, 2023-06-15T19:45:43...",1,0,1,0,0,0,0,"[24, 2]",1,0,0,0,0,1

## Classification

In [47]:
# Using the activation column as the target variable, create a train-test split with 80% of the data in the training set and 20% in the test set.

from sklearn.model_selection import train_test_split

# X = fingerhut_combined_grouped_sample.drop('activation', axis=1)
# drop the columns that are not needed

X = fingerhut_combined_grouped_sample[[2, 9, 20, 21, 1, 24]]
y = fingerhut_combined_grouped_sample['activation']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Using the training set, train a logistic regression model to predict the activation column. Use the following hyperparameters: max_iter=1000, random_state=0.

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(max_iter=1000, random_state=0)
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=0)

In [53]:
# show the coefficients of the model with the feature names

logreg.coef_

array([[-0.1040879 ,  0.        , -1.35645308, -1.42583093,  0.30453998,
         0.69146707]])

In [54]:
# Using the test set, predict the activation column and calculate the accuracy of the model.

y_pred = logreg.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.7522

In [52]:
# Using the test set, calculate the confusion matrix and classification report of the model.

from sklearn.metrics import confusion_matrix, classification_report

confusion_matrix(y_test, y_pred)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.76      0.98      0.86     15024
           1       0.52      0.05      0.10      4976

    accuracy                           0.75     20000
   macro avg       0.64      0.52      0.48     20000
weighted avg       0.70      0.75      0.67     20000

## Numbers

In [8]:
# find the percentage of people who have either place_order_phone or place_order_web == 1

fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['place_order_phone'] == 1) | (fingerhut_combined_grouped_sample['place_order_web'] == 1)].shape[0] / fingerhut_combined_grouped_sample.shape[0]

0.2184

In [6]:
promotion_ids = [2, 9, 20, 21, 1, 24]

In [15]:
type(fingerhut_combined_grouped_sample['ed_id'])

pandas.core.series.Series

In [18]:
promotion_customers = []

for id_list in fingerhut_combined_grouped_sample['ed_id']:
    # if any value in id_list is in promotion_ids, store the index of the row in promotion_customers
    if any(x in id_list for x in promotion_ids):
        promotion_customers.append(True)
    else:
        promotion_customers.append(False)

In [23]:
fingerhut_combined_grouped_sample['promotion_customer'] = promotion_customers

# convert promotion_customer to int

fingerhut_combined_grouped_sample['promotion_customer'] = fingerhut_combined_grouped_sample['promotion_customer'].astype(int)

In [22]:
# of those who have promotion_customer == 1, find the percentage of people who have either place_order_phone or place_order_web == 1

fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['promotion_customer'] == 1) & ((fingerhut_combined_grouped_sample['place_order_phone'] == 1) | (fingerhut_combined_grouped_sample['place_order_web'] == 1))].shape[0] / fingerhut_combined_grouped_sample[fingerhut_combined_grouped_sample['promotion_customer'] == 1].shape[0]

0.21308615049073065