In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in fingerhut_combined_grouped.pkl

fingerhut_combined_grouped = pd.read_pickle('../Dataset/fingerhut_combined_grouped.pkl')

In [3]:
fingerhut_combined_grouped

,combined_id,ed_id,stage,event_timestamp,application,activation,promotion_exposure,place_order_web,place_order_phone,order_shipped
0,0,"[2, 12, 1, 4, 4, 4, 11, 1, 5, 6, 1, 1, 4, 11, ...","[Discover, Apply for Credit, Promotion Created...","[2021-09-03T06:00:00.000Z, 2021-09-03T21:46:20...",1,1,1,1,0,1
1,1,"[2, 4, 11, 4, 4, 11, 4, 4, 4, 11, 4, 4, 5, 4, ...","[Discover, First Purchase, First Purchase, Fir...","[2021-02-20T06:00:00.000Z, 2021-02-20T22:23:39...",1,1,1,1,0,1
2,2,"[19, 19, 19, 19, 19, 19, 19, 19, 3, 19, 12, 4,...","[Apply for Credit, Apply for Credit, Apply for...","[2022-12-11T07:43:02.000Z, 2022-12-11T07:43:04...",1,0,1,0,0,0
3,3,"[12, 2, 22]","[Apply for Credit, Discover, Discover]","[2023-07-02T13:43:31.000Z, 2023-07-02T19:43:31...",1,0,1,0,0,0
4,4,"[12, 4, 4, 19, 5, 4, 11, 1, 5, 6, 29, 4, 11, 5...","[Apply for Credit, First Purchase, First Purch...","[2021-11-20T14:49:13.000Z, 2021-11-20T14:52:13...",1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...
1665426,1665426,"[12, 4, 4, 4, 4, 4, 4, 11, 4, 11, 4, 4, 4, 4, ...","[Apply for Credit, First Purchase, First Purch...","[2021-03-24T11:00:21.000Z, 2021-03-24T11:07:37...",1,0,1,0,0,0
1665427,1665427,"[3, 3, 3, 3, 3, 12, 4, 4, 4, 4, 4, 4, 1, 1, 4,...","[Apply for Credit, Apply for Credit, Apply for...","[2021-08-02T16:17:10.000Z, 2021-08-02T16:18:38...",1,0,1,0,0,0
1665428,1665428,"[5, 5, 19, 19, 19, 19, 19, 19, 19, 19, 3, 12, ...","[First Purchase, First Purchase, Apply for Cre...","[2022-05-22T19:14:41.000Z, 2022-05-22T19:29:11...",1,1,1,1,0,1
1665429,1665429,"[2, 12, 4, 4, 4, 4, 4, 11, 5, 6, 5, 4, 4, 4, 1...","[Discover, Apply for Credit, First Purchase, F...","[2021-03-21T06:00:00.000Z, 2021-03-21T17:25:43...",1,0,1,0,0,0
1665430,1665430,"[2, 19, 19, 3, 19, 3, 19, 19, 19, 3, 19, 19, 3...","[Discover, Apply for Credit, Apply for Credit,...","[2021-07-05T06:00:00.000Z, 2021-07-05T08:56:27...",1,0,1,0,0,0

In [4]:
# if either the place_order_web or place_order_phone is 1, then make new column place_order = 1, else 0

fingerhut_combined_grouped['place_order'] = np.where((fingerhut_combined_grouped['place_order_web'] == 1) | (fingerhut_combined_grouped['place_order_phone'] == 1), 1, 0)

In [5]:
# randomly sample 100000 rows from fingerhut_combined_grouped

# fingerhut_combined_grouped_sample = fingerhut_combined_grouped.sample(n=100000, random_state=0)

fingerhut_combined_grouped_sample = fingerhut_combined_grouped

In [6]:
fingerhut_combined_grouped_sample

,combined_id,ed_id,stage,event_timestamp,application,activation,promotion_exposure,place_order_web,place_order_phone,order_shipped,place_order
0,0,"[2, 12, 1, 4, 4, 4, 11, 1, 5, 6, 1, 1, 4, 11, ...","[Discover, Apply for Credit, Promotion Created...","[2021-09-03T06:00:00.000Z, 2021-09-03T21:46:20...",1,1,1,1,0,1,1
1,1,"[2, 4, 11, 4, 4, 11, 4, 4, 4, 11, 4, 4, 5, 4, ...","[Discover, First Purchase, First Purchase, Fir...","[2021-02-20T06:00:00.000Z, 2021-02-20T22:23:39...",1,1,1,1,0,1,1
2,2,"[19, 19, 19, 19, 19, 19, 19, 19, 3, 19, 12, 4,...","[Apply for Credit, Apply for Credit, Apply for...","[2022-12-11T07:43:02.000Z, 2022-12-11T07:43:04...",1,0,1,0,0,0,0
3,3,"[12, 2, 22]","[Apply for Credit, Discover, Discover]","[2023-07-02T13:43:31.000Z, 2023-07-02T19:43:31...",1,0,1,0,0,0,0
4,4,"[12, 4, 4, 19, 5, 4, 11, 1, 5, 6, 29, 4, 11, 5...","[Apply for Credit, First Purchase, First Purch...","[2021-11-20T14:49:13.000Z, 2021-11-20T14:52:13...",1,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1665426,1665426,"[12, 4, 4, 4, 4, 4, 4, 11, 4, 11, 4, 4, 4, 4, ...","[Apply for Credit, First Purchase, First Purch...","[2021-03-24T11:00:21.000Z, 2021-03-24T11:07:37...",1,0,1,0,0,0,0
1665427,1665427,"[3, 3, 3, 3, 3, 12, 4, 4, 4, 4, 4, 4, 1, 1, 4,...","[Apply for Credit, Apply for Credit, Apply for...","[2021-08-02T16:17:10.000Z, 2021-08-02T16:18:38...",1,0,1,0,0,0,0
1665428,1665428,"[5, 5, 19, 19, 19, 19, 19, 19, 19, 19, 3, 12, ...","[First Purchase, First Purchase, Apply for Cre...","[2022-05-22T19:14:41.000Z, 2022-05-22T19:29:11...",1,1,1,1,0,1,1
1665429,1665429,"[2, 12, 4, 4, 4, 4, 4, 11, 5, 6, 5, 4, 4, 4, 1...","[Discover, Apply for Credit, First Purchase, F...","[2021-03-21T06:00:00.000Z, 2021-03-21T17:25:43...",1,0,1,0,0,0,0
1665430,1665430,"[2, 19, 19, 3, 19, 3, 19, 19, 19, 3, 19, 19, 3...","[Discover, Apply for Credit, Apply for Credit,...","[2021-07-05T06:00:00.000Z, 2021-07-05T08:56:27...",1,0,1,0,0,0,0

In [7]:
# check how many rows have activation = 1

fingerhut_combined_grouped_sample['activation'].value_counts()

0    1254569
1     410862
Name: activation, dtype: int64

In [8]:
# check how many rows have place_order = 1 and activation = 1

ordered_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['place_order'] == 1) & (fingerhut_combined_grouped_sample['activation'] == 1)]
print(len(ordered_activated))

354404

In [9]:
# check how many rows have place_order = 0 and activation = 0

no_ordered_no_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['place_order'] == 0) & (fingerhut_combined_grouped_sample['activation'] == 0)]
print(len(no_ordered_no_activated))

1229136

In [10]:
# check how many rows have place_order = 1 and activation = 0

ordered_no_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['place_order'] == 1) & (fingerhut_combined_grouped_sample['activation'] == 0)]
print(len(ordered_no_activated))

25433

In [11]:
# check how many rows have place_order = 0 and activation = 1

no_ordered_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['place_order'] == 0) & (fingerhut_combined_grouped_sample['activation'] == 1)]
print(len(no_ordered_activated))

56458

In [12]:
# sum of all the above 4 categories should be 100000

len(ordered_activated) + len(no_ordered_no_activated) + len(ordered_no_activated) + len(no_ordered_activated)

1665431

In [13]:
# check how many rows have promotion_exposure = 1

fingerhut_combined_grouped_sample['promotion_exposure'].value_counts()[1]

1523909

In [14]:
# check how many rows have promotion_expousre = 1 and activation = 1

promotion_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['promotion_exposure'] == 1) & (fingerhut_combined_grouped_sample['activation'] == 1)]
print(len(promotion_activated))

372432

In [15]:
# check how many rows have promotion_expousre = 1 and activation = 0

promotion_no_activated = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['promotion_exposure'] == 1) & (fingerhut_combined_grouped_sample['activation'] == 0)]
print(len(promotion_no_activated))

1151477

In [16]:
promotion_ids = [2, 9, 20, 21, 1, 24]

In [17]:
# for each row, if the list object in the ed_id column contains any of the above 6 ids, then make a new column `promotion_type` that contains the list of ids that were found in the ed_id column

fingerhut_combined_grouped_sample['promotion_type'] = fingerhut_combined_grouped_sample['ed_id'].apply(lambda x: list(set(x).intersection(promotion_ids)))

In [18]:
# using the promotion_type column, create new columns for each of the 6 ids and set the value to 1 if the id is present in the promotion_type list, else 0

for i in promotion_ids:
    fingerhut_combined_grouped_sample[i] = fingerhut_combined_grouped_sample['promotion_type'].apply(lambda x: 1 if i in x else 0)

fingerhut_combined_grouped_sample

,combined_id,ed_id,stage,event_timestamp,application,activation,promotion_exposure,place_order_web,place_order_phone,order_shipped,place_order,promotion_type,2,9,20,21,1,24
0,0,"[2, 12, 1, 4, 4, 4, 11, 1, 5, 6, 1, 1, 4, 11, ...","[Discover, Apply for Credit, Promotion Created...","[2021-09-03T06:00:00.000Z, 2021-09-03T21:46:20...",1,1,1,1,0,1,1,"[1, 2]",1,0,0,0,1,0
1,1,"[2, 4, 11, 4, 4, 11, 4, 4, 4, 11, 4, 4, 5, 4, ...","[Discover, First Purchase, First Purchase, Fir...","[2021-02-20T06:00:00.000Z, 2021-02-20T22:23:39...",1,1,1,1,0,1,1,"[1, 2]",1,0,0,0,1,0
2,2,"[19, 19, 19, 19, 19, 19, 19, 19, 3, 19, 12, 4,...","[Apply for Credit, Apply for Credit, Apply for...","[2022-12-11T07:43:02.000Z, 2022-12-11T07:43:04...",1,0,1,0,0,0,0,[2],1,0,0,0,0,0
3,3,"[12, 2, 22]","[Apply for Credit, Discover, Discover]","[2023-07-02T13:43:31.000Z, 2023-07-02T19:43:31...",1,0,1,0,0,0,0,[2],1,0,0,0,0,0
4,4,"[12, 4, 4, 19, 5, 4, 11, 1, 5, 6, 29, 4, 11, 5...","[Apply for Credit, First Purchase, First Purch...","[2021-11-20T14:49:13.000Z, 2021-11-20T14:52:13...",1,1,1,1,0,1,1,[1],0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1665426,1665426,"[12, 4, 4, 4, 4, 4, 4, 11, 4, 11, 4, 4, 4, 4, ...","[Apply for Credit, First Purchase, First Purch...","[2021-03-24T11:00:21.000Z, 2021-03-24T11:07:37...",1,0,1,0,0,0,0,"[24, 1, 21]",0,0,0,1,1,1
1665427,1665427,"[3, 3, 3, 3, 3, 12, 4, 4, 4, 4, 4, 4, 1, 1, 4,...","[Apply for Credit, Apply for Credit, Apply for...","[2021-08-02T16:17:10.000Z, 2021-08-02T16:18:38...",1,0,1,0,0,0,0,"[24, 1, 21]",0,0,0,1,1,1
1665428,1665428,"[5, 5, 19, 19, 19, 19, 19, 19, 19, 19, 3, 12, ...","[First Purchase, First Purchase, Apply for Cre...","[2022-05-22T19:14:41.000Z, 2022-05-22T19:29:11...",1,1,1,1,0,1,1,"[24, 1]",0,0,0,0,1,1
1665429,1665429,"[2, 12, 4, 4, 4, 4, 4, 11, 5, 6, 5, 4, 4, 4, 1...","[Discover, Apply for Credit, First Purchase, F...","[2021-03-21T06:00:00.000Z, 2021-03-21T17:25:43...",1,0,1,0,0,0,0,"[1, 2, 21]",1,0,0,1,1,0
1665430,1665430,"[2, 19, 19, 3, 19, 3, 19, 19, 19, 3, 19, 19, 3...","[Discover, Apply for Credit, Apply for Credit,...","[2021-07-05T06:00:00.000Z, 2021-07-05T08:56:27...",1,0,1,0,0,0,0,"[1, 2]",1,0,0,0,1,0

## Classification

In [19]:
# Using the activation column as the target variable, create a train-test split with 80% of the data in the training set and 20% in the test set.

from sklearn.model_selection import train_test_split

# X = fingerhut_combined_grouped_sample.drop('activation', axis=1)
# drop the columns that are not needed

X = fingerhut_combined_grouped_sample[[2, 9, 20, 21, 1, 24]]
y = fingerhut_combined_grouped_sample['activation']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Using the training set, train a logistic regression model to predict the activation column. Use the following hyperparameters: max_iter=1000, random_state=0.

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(max_iter=1000, random_state=0)
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=0)

In [20]:
# show the coefficients of the model with the feature names

logreg.coef_

array([[-0.12977966,  0.        , -0.3649904 , -1.43252065,  0.35332669,
         0.67976131]])

In [21]:
# Using the test set, predict the activation column and calculate the accuracy of the model.

y_pred = logreg.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.754538604028377

In [22]:
# Using the test set, calculate the confusion matrix and classification report of the model.

from sklearn.metrics import confusion_matrix, classification_report

confusion_matrix(y_test, y_pred)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.76      0.98      0.86    250911
           1       0.52      0.06      0.10     82176

    accuracy                           0.75    333087
   macro avg       0.64      0.52      0.48    333087
weighted avg       0.70      0.75      0.67    333087

## Time to purchase

In [32]:
# keep only the rows where application = 1, activation = 1, place_order = 1

fingerhut_combined_grouped_sample_activated_ordered = fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['application'] == 1) & (fingerhut_combined_grouped_sample['activation'] == 1) & (fingerhut_combined_grouped_sample['place_order'] == 1)]

In [33]:
apply_for_credit_ids = [3, 12, 13, 14, 15, 16, 17, 19]
account_activation_ids = [29]
place_order_ids = [7, 18]

In [34]:
# ed_id is a column containing lists of ids for each row. event_timestamp is a column containing lists of the same length as ed_id.
# For each row, extract the timestamp from the event_timestamp column that corresponds to the id in the ed_id column that matches the apply_for_credit_ids, account_activation_ids, and place_order_ids lists and store each timestamp in a new column respectively.

# fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_timestamp'] = fingerhut_combined_grouped_sample_activated_ordered.apply(lambda x: x['event_timestamp'][x['ed_id'].index(3)] if 3 in x['ed_id'] else None, axis=1)
fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_timestamp'] = fingerhut_combined_grouped_sample_activated_ordered.apply(lambda x: x['event_timestamp'][next((i for i, id in enumerate(x['ed_id']) if id in apply_for_credit_ids), None)] if any(id in x['ed_id'] for id in apply_for_credit_ids) else None, axis=1)
fingerhut_combined_grouped_sample_activated_ordered['account_activation_timestamp'] = fingerhut_combined_grouped_sample_activated_ordered.apply(lambda x: x['event_timestamp'][x['ed_id'].index(29)] if 29 in x['ed_id'] else None, axis=1)
# fingerhut_combined_grouped_sample_activated_ordered['place_order_timestamp'] = fingerhut_combined_grouped_sample_activated_ordered.apply(lambda x: x['event_timestamp'][x['ed_id'].index(7)] if 7 in x['ed_id'] else None, axis=1)
fingerhut_combined_grouped_sample_activated_ordered['place_order_timestamp'] = fingerhut_combined_grouped_sample_activated_ordered.apply(lambda x: x['event_timestamp'][next((i for i, id in enumerate(x['ed_id']) if id in place_order_ids), None)] if any(id in x['ed_id'] for id in place_order_ids) else None, axis=1)

# Using the timestamps from the previous step, calculate the time it took for each customer to go from applying for credit to activating their account, and from activating their account to placing an order.

fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_timestamp'] = pd.to_datetime(fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_timestamp'])
fingerhut_combined_grouped_sample_activated_ordered['account_activation_timestamp'] = pd.to_datetime(fingerhut_combined_grouped_sample_activated_ordered['account_activation_timestamp'])
fingerhut_combined_grouped_sample_activated_ordered['place_order_timestamp'] = pd.to_datetime(fingerhut_combined_grouped_sample_activated_ordered['place_order_timestamp'])

fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_to_activation'] = (fingerhut_combined_grouped_sample_activated_ordered['account_activation_timestamp'] - fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_timestamp']).dt.days
fingerhut_combined_grouped_sample_activated_ordered['activation_to_place_order'] = (fingerhut_combined_grouped_sample_activated_ordered['place_order_timestamp'] - fingerhut_combined_grouped_sample_activated_ordered['account_activation_timestamp']).dt.days

/var/folders/6m/88dwrhnx7m3cybxwl1p0rtq40000gn/T/ipykernel_3505/2113970015.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_timestamp'] = fingerhut_combined_grouped_sample_activated_ordered.apply(lambda x: x['event_timestamp'][next((i for i, id in enumerate(x['ed_id']) if id in apply_for_credit_ids), None)] if any(id in x['ed_id'] for id in apply_for_credit_ids) else None, axis=1)
/var/folders/6m/88dwrhnx7m3cybxwl1p0rtq40000gn/T/ipykernel_3505/2113970015.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fingerhut_combined_grouped_sample_activated_ordered['account_activation_timestamp'] = fingerhut_combined_grouped_sample_activated_ordered.apply(lambda x: x['event_timestamp'][x['ed_id'].index(29)] if 29 in x['ed_id'] else None, axis=1)
/var/folders/6m/88dwrhnx7m3cybxwl1p0rtq40000gn/T/ipykernel_3505/2113970015.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fingerhut_combined_grouped_sample_activated_ordered['place_order_timestamp'] = fingerhut_combined_grouped_sample_activated_ordered.apply(lambda x: x['event_timestamp'][next((i for i, id in enumerate(x['ed_id']) if id in place_order_ids), None)] if any(id in x['ed_id'] for id in place_order_ids) else None, axis=1)
/var/folders/6m/88dwrhnx7m3cybxwl1p0rtq40000gn/T/ipykernel_3505/2113970015.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_timestamp'] = pd.to_datetime(fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_timestamp'])
/var/folders/6m/88dwrhnx7m3cybxwl1p0rtq40000gn/T/ipykernel_3505/2113970015.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fingerhut_combined_grouped_sample_activated_ordered['account_activation_timestamp'] = pd.to_datetime(fingerhut_combined_grouped_sample_activated_ordered['account_activation_timestamp'])
/var/folders/6m/88dwrhnx7m3cybxwl1p0rtq40000gn/T/ipykernel_3505/2113970015.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fingerhut_combined_grouped_sample_activated_ordered['place_order_timestamp'] = pd.to_datetime(fingerhut_combined_grouped_sample_activated_ordered['place_order_timestamp'])
/var/folders/6m/88dwrhnx7m3cybxwl1p0rtq40000gn/T/ipykernel_3505/2113970015.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_to_activation'] = (fingerhut_combined_grouped_sample_activated_ordered['account_activation_timestamp'] - fingerhut_combined_grouped_sample_activated_ordered['apply_for_credit_timestamp']).dt.days
/var/folders/6m/88dwrhnx7m3cybxwl1p0rtq40000gn/T/ipykernel_3505/2113970015.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fingerhut_combined_grouped_sample_activated_ordered['activation_to_place_order'] = (fingerhut_combined_grouped_sample_activated_ordered['place_order_timestamp'] - fingerhut_combined_grouped_sample_activated_ordered['account_activation_timestamp']).dt.days

In [35]:
fingerhut_combined_grouped_sample_activated_ordered

,combined_id,ed_id,stage,event_timestamp,application,activation,promotion_exposure,place_order_web,place_order_phone,order_shipped,...,9,20,21,1,24,apply_for_credit_timestamp,account_activation_timestamp,place_order_timestamp,apply_for_credit_to_activation,activation_to_place_order
0,0,"[2, 12, 1, 4, 4, 4, 11, 1, 5, 6, 1, 1, 4, 11, ...","[Discover, Apply for Credit, Promotion Created...","[2021-09-03T06:00:00.000Z, 2021-09-03T21:46:20...",1,1,1,1,0,1,...,0,0,0,1,0,2021-09-03 21:46:20+00:00,2021-09-12 00:00:00+00:00,2021-09-11 17:07:12+00:00,8,-1
1,1,"[2, 4, 11, 4, 4, 11, 4, 4, 4, 11, 4, 4, 5, 4, ...","[Discover, First Purchase, First Purchase, Fir...","[2021-02-20T06:00:00.000Z, 2021-02-20T22:23:39...",1,1,1,1,0,1,...,0,0,0,1,0,2021-02-20 23:10:24+00:00,2021-02-22 00:00:00+00:00,2021-02-22 14:41:23+00:00,1,0
4,4,"[12, 4, 4, 19, 5, 4, 11, 1, 5, 6, 29, 4, 11, 5...","[Apply for Credit, First Purchase, First Purch...","[2021-11-20T14:49:13.000Z, 2021-11-20T14:52:13...",1,1,1,1,0,1,...,0,0,0,1,0,2021-11-20 14:49:13+00:00,2021-12-12 00:00:00+00:00,2021-12-12 10:50:50+00:00,21,0
6,6,"[12, 4, 4, 4, 4, 4, 11, 5, 6, 8, 7, 29, 4, 4, ...","[Apply for Credit, First Purchase, First Purch...","[2021-01-19T06:25:55.000Z, 2021-01-19T06:33:59...",1,1,1,1,0,1,...,0,0,0,1,0,2021-01-19 06:25:55+00:00,2021-01-20 00:00:00+00:00,2021-01-19 22:37:21+00:00,0,-1
13,13,"[2, 12, 1, 29, 6, 4, 11, 5, 19, 5, 4, 8, 6, 7,...","[Discover, Apply for Credit, Promotion Created...","[2023-05-15T04:09:11.000Z, 2023-05-15T22:09:11...",1,1,1,1,0,1,...,0,0,0,1,0,2023-05-15 22:09:11+00:00,2023-05-16 00:00:00+00:00,2023-05-20 18:55:14+00:00,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1665405,1665405,"[15, 18, 18, 29, 27, 28, 15, 18, 1, 1]","[Apply for Credit, First Purchase, First Purch...","[2021-05-30T15:37:29.000Z, 2021-05-30T15:39:25...",1,1,1,0,1,1,...,0,0,0,1,0,2021-05-30 15:37:29+00:00,2021-06-01 00:00:00+00:00,2021-05-30 15:39:25.910000+00:00,1,-2
1665408,1665408,"[29, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 1...","[Credit Account, Apply for Credit, Apply for C...","[2021-10-07T00:00:00.000Z, 2021-10-07T03:59:04...",1,1,1,1,0,0,...,0,0,0,1,1,2021-10-07 03:59:04+00:00,2021-10-07 00:00:00+00:00,2022-10-21 04:13:09+00:00,-1,379
1665415,1665415,"[19, 19, 19, 19, 19, 19, 19, 3, 12, 4, 4, 4, 4...","[Apply for Credit, Apply for Credit, Apply for...","[2021-10-29T11:17:15.000Z, 2021-10-29T11:17:17...",1,1,1,1,0,1,...,0,0,0,1,1,2021-10-29 11:17:15+00:00,2021-11-09 00:00:00+00:00,2021-11-09 12:07:11+00:00,10,0
1665418,1665418,"[12, 2, 4, 11, 4, 1, 1, 4, 4, 4, 4, 11, 11, 11...","[Apply for Credit, Discover, First Purchase, F...","[2021-05-13T00:34:05.000Z, 2021-05-13T06:00:00...",1,1,1,1,0,0,...,0,0,1,1,0,2021-05-13 00:34:05+00:00,2021-06-08 00:00:00+00:00,2021-06-08 16:35:44+00:00,25,0
1665428,1665428,"[5, 5, 19, 19, 19, 19, 19, 19, 19, 19, 3, 12, ...","[First Purchase, First Purchase, Apply for Cre...","[2022-05-22T19:14:41.000Z, 2022-05-22T19:29:11...",1,1,1,1,0,1,...,0,0,0,1,1,2022-06-09 13:44:18+00:00,2023-06-14 00:00:00+00:00,2023-06-13 23:48:03+00:00,369,-1

## Numbers

In [8]:
# find the percentage of people who have either place_order_phone or place_order_web == 1

fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['place_order_phone'] == 1) | (fingerhut_combined_grouped_sample['place_order_web'] == 1)].shape[0] / fingerhut_combined_grouped_sample.shape[0]

0.2184

In [6]:
promotion_ids = [2, 9, 20, 21, 1, 24]

In [15]:
type(fingerhut_combined_grouped_sample['ed_id'])

pandas.core.series.Series

In [18]:
promotion_customers = []

for id_list in fingerhut_combined_grouped_sample['ed_id']:
    # if any value in id_list is in promotion_ids, store the index of the row in promotion_customers
    if any(x in id_list for x in promotion_ids):
        promotion_customers.append(True)
    else:
        promotion_customers.append(False)

In [23]:
fingerhut_combined_grouped_sample['promotion_customer'] = promotion_customers

# convert promotion_customer to int

fingerhut_combined_grouped_sample['promotion_customer'] = fingerhut_combined_grouped_sample['promotion_customer'].astype(int)

In [22]:
# of those who have promotion_customer == 1, find the percentage of people who have either place_order_phone or place_order_web == 1

fingerhut_combined_grouped_sample[(fingerhut_combined_grouped_sample['promotion_customer'] == 1) & ((fingerhut_combined_grouped_sample['place_order_phone'] == 1) | (fingerhut_combined_grouped_sample['place_order_web'] == 1))].shape[0] / fingerhut_combined_grouped_sample[fingerhut_combined_grouped_sample['promotion_customer'] == 1].shape[0]

0.21308615049073065