In [79]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle("/Users/alyssaliu/Desktop/StatsM148/wide_format_data.pkl")

In [3]:
print(df.shape)
df.head()

(1665688, 6)

,customer_id,account_id,ed_id,event_name,event_timestamp,journey_steps_until_end
0,-2147483541,[2059949086],"[12, 5, 4, 11, 5, 6, 1, 4, 11, 4, 11, 5, 6, 5,...","[application_web_approved, view_cart, browse_p...","[2021-10-05 08:11:26+00:00, 2021-10-05 08:17:1...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,-2147481037,[-1245770865],"[12, 1, 2, 5, 5, 5, 11, 4, 4, 4, 6, 6, 6]","[application_web_approved, promotion_created, ...","[2023-08-26 12:08:34+00:00, 2023-08-26 17:18:4...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"
2,-2147474335,[-1929965268],"[2, 12, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19...","[campaign_click, application_web_approved, app...","[2023-04-14 01:42:50+00:00, 2023-04-14 19:42:5...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
3,-2147474305,[1098145658],"[6, 19, 19, 19, 19, 19, 19, 19, 19, 1, 4, 19, ...","[begin_checkout, application_web_view, applica...","[2021-11-28 22:27:11+00:00, 2021-11-28 22:28:0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
4,-2147472167,[889210381],"[12, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 1...","[application_web_approved, application_web_vie...","[2023-02-19 08:23:54+00:00, 2023-02-19 14:21:5...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."

In [4]:
df.columns

Index(['customer_id', 'account_id', 'ed_id', 'event_name', 'event_timestamp',
       'journey_steps_until_end'],
      dtype='object')

In [5]:
df.dtypes

customer_id                 int64
account_id                 object
ed_id                      object
event_name                 object
event_timestamp            object
journey_steps_until_end    object
dtype: object

In [6]:
df_with_orders = df[df['event_name'].apply(lambda x: 'order_shipped' in x)]

In [7]:
print(df_with_orders.shape)
df_with_orders.head()

(320686, 6)

,customer_id,account_id,ed_id,event_name,event_timestamp,journey_steps_until_end
2,-2147474335,[-1929965268],"[2, 12, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19...","[campaign_click, application_web_approved, app...","[2023-04-14 01:42:50+00:00, 2023-04-14 19:42:5...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
4,-2147472167,[889210381],"[12, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 1...","[application_web_approved, application_web_vie...","[2023-02-19 08:23:54+00:00, 2023-02-19 14:21:5...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
13,-2147452610,"[-292633108, -1905163177]","[12, 1, 29, 3, 4, 4, 4, 4, 11, 11, 19, 19, 19,...","[application_web_approved, promotion_created, ...","[2023-07-25 19:46:36+00:00, 2023-07-25 20:32:2...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
25,-2147425125,[221594945],"[2, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 3,...","[campaign_click, application_web_view, applica...","[2021-09-25 06:00:00+00:00, 2021-09-25 19:59:2...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
32,-2147395611,[674764100],"[29, 2, 12, 4, 4, 4, 4, 4, 11, 4, 4, 11, 4, 5,...","[account_activitation, campaign_click, applica...","[2021-06-15 00:00:00+00:00, 2021-06-15 06:00:0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."

In [8]:
df_no_orders = df[df['event_name'].apply(lambda x: 'order_shipped' not in x)]

In [9]:
print(df_no_orders.shape)
df_no_orders.head()

(1345002, 6)

,customer_id,account_id,ed_id,event_name,event_timestamp,journey_steps_until_end
0,-2147483541,[2059949086],"[12, 5, 4, 11, 5, 6, 1, 4, 11, 4, 11, 5, 6, 5,...","[application_web_approved, view_cart, browse_p...","[2021-10-05 08:11:26+00:00, 2021-10-05 08:17:1...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,-2147481037,[-1245770865],"[12, 1, 2, 5, 5, 5, 11, 4, 4, 4, 6, 6, 6]","[application_web_approved, promotion_created, ...","[2023-08-26 12:08:34+00:00, 2023-08-26 17:18:4...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"
3,-2147474305,[1098145658],"[6, 19, 19, 19, 19, 19, 19, 19, 19, 1, 4, 19, ...","[begin_checkout, application_web_view, applica...","[2021-11-28 22:27:11+00:00, 2021-11-28 22:28:0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
5,-2147466542,[-823743386],"[12, 1, 4, 11, 5, 1, 1, 21, 1, 21, 21, 1]","[application_web_approved, promotion_created, ...","[2021-12-25 22:00:57+00:00, 2021-12-25 22:01:1...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
6,-2147466262,[-296951572],"[2, 13, 19, 19, 19, 19, 12, 1, 4, 5, 19, 19, 1...","[campaign_click, application_web_declined, app...","[2023-04-10 02:34:58+00:00, 2023-04-10 20:34:5...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."

### Feature Engineering

In [19]:
def_df = pd.read_csv("/Users/alyssaliu/Desktop/StatsM148/Event Definitions.csv")
def_df

,event_name,journey_id,event_definition_id,milestone_number,stage
0,application_phone_approved,1,15,1.0,Apply for Credit
1,application_phone_declined,1,16,NaN,Apply for Credit
2,application_phone_pending,1,17,NaN,Apply for Credit
3,application_web_approved,1,12,1.0,Apply for Credit
4,application_web_declined,1,13,NaN,Apply for Credit
5,application_web_pending,1,14,NaN,Apply for Credit
6,application_web_submit,1,3,NaN,Apply for Credit
7,application_web_view,1,19,NaN,Apply for Credit
8,account_activitation,1,29,3.0,Credit Account
9,account_fraud_review,1,37,NaN,Credit Account
10,campaign_click,1,2,NaN,Discover
11,customer_requested_catalog_digital,1,9,NaN,Discover
12,fingerhut_university,1,10,NaN,Discover
13,pre_application_3rd_party_affiliates,1,22,NaN,Discover
14,site_registration,1,23,NaN,Discover
15,account_downpaymentcleared,1,27,5.0,Downpayment
16,account_downpaymentreceived,1,26,NaN,Downpayment
17,place_downpayment,1,8,4.0,Downpayment
18,place_downpayment_phone,1,25,4.0,Downpayment
19,add_to_cart,1,11,NaN,First Purchase
20,begin_checkout,1,6,NaN,First Purchase
21,browse_products,1,4,NaN,First Purchase
22,place_order_phone,1,18,2.0,First Purchase
23,place_order_web,1,7,2.0,First Purchase
24,view_cart,1,5,NaN,First Purchase
25,order_shipped,1,28,6.0,Order Shipped
26,catalog_email_experian,1,20,NaN,Prospecting
27,catalog_mail,1,21,NaN,Prospecting

In [31]:
stage_dict = {'Apply for Credit' : 1, 'Credit Account' : 2, 'Discover' : 3, 'Downpayment' : 4, 'First Purchase' : 5, 
              'Order Shipped' : 6, 'Prospecting' : 7}
def_df['stage_int'] = def_df['stage'].map(stage_dict)

In [33]:
stage_mapping_dict = def_df.set_index('event_definition_id')['stage_int'].to_dict()

In [72]:
sampled_df = df.sample(n=10000, replace=False)

In [73]:
# Function to get the stage from the first id in the list
def get_stage_from_first_id(id_list):
    # Get the first id
    first_id = id_list[0]
    # Return the corresponding stage using the mapping dictionary
    return stage_mapping_dict.get(first_id, 0)

def get_stage_from_last_id(id_list):
    # Get the first id
    last_id = id_list[-1]
    # Return the corresponding stage using the mapping dictionary
    return stage_mapping_dict.get(last_id, 0)

def clean_df(df):
    df = df.reset_index(drop = True)
    df['event_count'] = df['event_name'].apply(len)
    df['order_shipped'] = df['event_name'].apply(lambda x: 1 if 'order_shipped' in x else 0)
    df['num_accounts'] = df['account_id'].apply(len)
    df['first_event'] = df['ed_id'].apply(lambda x: x[0] if x else None)
    df['last_event'] = df['ed_id'].apply(lambda x: x[-1] if x else None)
    df['len_journey'] = df['journey_steps_until_end'].apply(len)
    
    df['days_in_journey'] = df['event_timestamp'].apply(lambda x: (x[-1] - x[0]).days)
    
    df['first_stage'] = df['ed_id'].apply(get_stage_from_first_id)
    df['last_stage'] = df['ed_id'].apply(get_stage_from_last_id)
    
    df = df.drop(['event_name', 'event_timestamp', 'account_id', 'ed_id', 'journey_steps_until_end'], axis = 1)
    # did not remove customer_id
    
    return df

In [74]:
sampled_df = clean_df(sampled_df)
whole_sampled_df = clean_df(df)

In [75]:
sampled_df.to_pickle("clustering_sample_df.pkl")

In [76]:
sampled_df.head()

,customer_id,event_count,order_shipped,num_accounts,first_event,last_event,len_journey,days_in_journey,first_stage,last_stage
0,922627022,31,0,1,2,21,31,153,3,7
1,863097461,4,0,1,12,24,4,83,1,0
2,448890732,21,0,1,19,4,21,0,1,5
3,-577493003,7,0,1,2,1,7,311,3,0
4,-1522860334,9,0,1,12,4,9,17,1,5

In [77]:
whole_sampled_df.to_pickle(("/Users/alyssaliu/Desktop/StatsM148/feature_engineered_data.pkl"))

In [78]:
X = whole_sampled_df.drop(['order_shipped', 'customer_id'], axis = 1)
y = whole_sampled_df['order_shipped']

In [67]:
print(whole_sampled_df.shape)

(1665688, 9)

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [68]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
clf = LogisticRegression(max_iter = 10000).fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

In [69]:
print('accurary', accuracy)
print('precision', precision)
print('recall', recall)
print('f1', f1)

accurary 0.9868886875588981
precision 0.9554980355904784
recall 0.9773720142973316
f1 0.9663112527988258

In [52]:
# Get the coefficients from the logistic regression model
coefficients = clf.coef_[0]  # For binary classification, model.coef_ is 2D, hence [0] for the first class
# Pair feature names with coefficients
feature_importance = zip(X_train.columns, coefficients)

# Sort features by absolute value of coefficient, in descending order
sorted_features = sorted(feature_importance, key=lambda x: abs(x[1]), reverse=True)

for feature, coef in sorted_features:
    print(f"{feature}: {coef}")

num_accounts: 2.682950754502113
last_event: 0.6913928563981975
last_stage: 0.6369366489625348
first_event: 0.03277776110363596
first_stage: 0.020022637357642075
event_count: 0.00726624249994216
len_journey: 0.00726624249994216
days_in_journey: -0.0020427587589118925

## Try cross fold validation in case overfitting

In [84]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [85]:
model = LogisticRegression(max_iter=10000, verbose=1)

In [92]:
# Specify the number of folds, e.g., 10
k = 10

# Perform k-fold cross-validation
scores = cross_val_score(model, X, y, cv=k, scoring='accuracy')

# Print the accuracy for each fold
print(f'Accuracy for each fold: {scores}')

# Print the mean accuracy across all folds
print(f'Mean accuracy: {np.mean(scores)}')

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   13.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   14.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   11.7s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   12.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   11.6s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   15.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   12.7s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   12.4s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   11.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Accuracy for each fold: [0.98682228 0.98620992 0.98675624 0.98705642 0.98706242 0.98642004
 0.98709844 0.98757872 0.98670813 0.98661808]
Mean accuracy: 0.9868330681736752

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.8s finished

### Look more into customers with multiple accounts

In [53]:
df_mult_acc = df[df['account_id'].apply(lambda x: len(x) > 1)]
df_mult_acc.reset_index(drop = True)

,customer_id,account_id,ed_id,event_name,event_timestamp,journey_steps_until_end
0,-2147452610,"[-292633108, -1905163177]","[12, 1, 29, 3, 4, 4, 4, 4, 11, 11, 19, 19, 19,...","[application_web_approved, promotion_created, ...","[2023-07-25 19:46:36+00:00, 2023-07-25 20:32:2...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,-2147450752,"[-689682723, 170014062]","[4, 11, 1, 5, 6, 15, 19, 19, 18, 19, 19, 19, 1...","[browse_products, add_to_cart, promotion_creat...","[2022-05-17 19:11:25+00:00, 2022-05-17 19:11:4...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
2,-2147354878,"[868852074, 1291266245]","[19, 19, 19, 19, 19, 19, 19, 3, 12, 4, 4, 4, 1...","[application_web_view, application_web_view, a...","[2022-01-22 13:23:16+00:00, 2022-01-22 13:23:3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
3,-2147300111,"[-712662595, 1060160414]","[4, 2, 12, 4, 4, 4, 4, 4, 4, 4, 19, 19, 19, 19...","[browse_products, campaign_click, application_...","[2023-07-18 14:02:37+00:00, 2023-07-19 00:54:4...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
4,-2147276503,"[-1356576694, 1958756284]","[19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 1...","[application_web_view, application_web_view, a...","[2022-11-07 13:44:15+00:00, 2022-11-07 13:44:1...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
...,...,...,...,...,...,...
68346,2147215047,"[-2011251879, 333935495]","[12, 4, 4, 4, 4, 4, 4, 11, 4, 11, 4, 4, 4, 4, ...","[application_web_approved, browse_products, br...","[2021-03-24 11:00:21+00:00, 2021-03-24 11:07:3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
68347,2147262949,"[-1467614890, -2014263723, 1258989806]","[12, 24, 3, 3, 3, 3, 3, 12, 4, 4, 4, 4, 4, 4, ...","[application_web_approved, campaignemail_click...","[2023-09-10 02:06:23+00:00, 2023-09-10 06:59:0...","[1, 2, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, ..."
68348,2147312732,"[-984987413, -1697443035]","[5, 5, 19, 19, 19, 19, 19, 19, 19, 3, 19, 19, ...","[view_cart, view_cart, application_web_view, a...","[2022-05-22 19:14:41+00:00, 2022-05-22 19:29:1...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
68349,2147398782,"[1087620278, -1146833418]","[19, 19, 19, 19, 19, 19, 19, 19, 3, 19, 19, 12...","[application_web_view, application_web_view, a...","[2022-06-28 16:03:28+00:00, 2022-06-28 16:03:3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
68350,2147449981,"[-1797507630, -203497522]","[2, 19, 3, 19, 19, 3, 19, 19, 3, 19, 19, 19, 3...","[campaign_click, application_web_view, applica...","[2021-07-05 06:00:00+00:00, 2021-07-05 08:56:2...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."

In [54]:
df_mult_acc['order_shipped'] = df_mult_acc['event_name'].apply(lambda x: 1 if 'order_shipped' in x else 0)

<ipython-input-54-9b159e3c056a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mult_acc['order_shipped'] = df_mult_acc['event_name'].apply(lambda x: 1 if 'order_shipped' in x else 0)

In [55]:
df_mult_acc['order_shipped'].value_counts(normalize = True)

order_shipped
0    0.759696
1    0.240304
Name: proportion, dtype: float64

In [56]:
df_one_acc = df[df['account_id'].apply(lambda x: len(x) == 1)]
df_one_acc.reset_index(drop = True)

,customer_id,account_id,ed_id,event_name,event_timestamp,journey_steps_until_end
0,-2147483541,[2059949086],"[12, 5, 4, 11, 5, 6, 1, 4, 11, 4, 11, 5, 6, 5,...","[application_web_approved, view_cart, browse_p...","[2021-10-05 08:11:26+00:00, 2021-10-05 08:17:1...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,-2147481037,[-1245770865],"[12, 1, 2, 5, 5, 5, 11, 4, 4, 4, 6, 6, 6]","[application_web_approved, promotion_created, ...","[2023-08-26 12:08:34+00:00, 2023-08-26 17:18:4...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"
2,-2147474335,[-1929965268],"[2, 12, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19...","[campaign_click, application_web_approved, app...","[2023-04-14 01:42:50+00:00, 2023-04-14 19:42:5...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
3,-2147474305,[1098145658],"[6, 19, 19, 19, 19, 19, 19, 19, 19, 1, 4, 19, ...","[begin_checkout, application_web_view, applica...","[2021-11-28 22:27:11+00:00, 2021-11-28 22:28:0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
4,-2147472167,[889210381],"[12, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 1...","[application_web_approved, application_web_vie...","[2023-02-19 08:23:54+00:00, 2023-02-19 14:21:5...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
...,...,...,...,...,...,...
1597332,2147480051,[-148210516],"[21, 22, 2, 12, 24, 1, 21, 1, 1, 21, 1, 1, 1, 1]","[catalog_(mail), pre-application_(3rd_party_af...","[2020-12-18 00:00:00+00:00, 2021-01-23 06:00:0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]"
1597333,2147480182,[-1286764612],"[12, 2, 24, 4, 4, 4, 4, 4, 4, 24, 24, 24, 24, 24]","[application_web_approved, campaign_click, cam...","[2023-06-22 09:44:49+00:00, 2023-06-22 15:44:4...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]"
1597334,2147480920,[496493954],"[2, 19, 19, 19, 19, 19, 19, 19, 19, 19, 3, 19,...","[campaign_click, application_web_view, applica...","[2022-05-21 06:00:00+00:00, 2022-05-21 23:30:3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1597335,2147482120,[-488077144],"[12, 19, 19, 2]","[application_web_approved, application_web_vie...","[2023-07-30 15:22:56+00:00, 2023-07-30 20:18:5...","[1, 2, 3, 4]"
1597336,2147483471,[1556733004],"[12, 4, 4, 4, 1, 21, 1, 1, 21, 1, 1, 1, 1]","[application_web_approved, browse_products, br...","[2021-01-11 21:03:33+00:00, 2021-01-11 21:08:2...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"

In [57]:
df_one_acc['order_shipped'] = df_one_acc['event_name'].apply(lambda x: 1 if 'order_shipped' in x else 0)

<ipython-input-57-8ecaa3a9d64a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_one_acc['order_shipped'] = df_one_acc['event_name'].apply(lambda x: 1 if 'order_shipped' in x else 0)

In [58]:
df_one_acc['order_shipped'].value_counts(normalize = True)

order_shipped
0    0.80952
1    0.19048
Name: proportion, dtype: float64